<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add a Room</h4>
      <form class="form-sample">
        <p class="card-description">New Room info </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Room Type</label>
              <div class="col-sm-9">
                <label>
                  <input type="text" class="form-control" />
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
