<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add a Room</h4>
      <form (ngSubmit)="onSubmitRoom()" class="form-sample">
        <p class="card-description">New Room info </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Room ID ( if you know it) </label>
              <div class="col-sm-9">
                <label>
                  <input [(ngModel)]="room.roomId" class="form-control" name="roomId" type="text"/>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Room Type</label>
              <div class="col-sm-9">
                <label>
                  <input [(ngModel)]="room.roomType" class="form-control" name="roomType" type="text"/>
                </label>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-success btn-fw"
                type="submit">{{this.room.roomId === undefined ? 'Add' : 'Update'}} room
        </button>
      </form>
    </div>
  </div>
</div>

<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">All Rooms</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th> Room ID</th>
              <th> Room Type</th>
              <th> Availability</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let room of rooms">
              <td>
                <span class="pl-2">{{room.roomId}}</span>
              </td>
              <td>{{room.roomType}}</td>
              <td>
                <div>
                  <button (click)="deleteRoom(room.roomId)" class="btn btn-outline-danger btn-fw" type="button">Delete
                    Room
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
