<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Inventory Form</h4>
      <form (ngSubmit)="onInventorySubmit()" class="form-sample">
        <p class="card-description">Item info</p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Inventory ID ( if you know it ) </label>
              <div class="col-sm-9">
                <label>
                  <input [(ngModel)]="inventory.inventoryId" class="form-control" name="inventoryId" type="text"/>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nurse ID</label>
              <div class="col-sm-9">
                <label>
                  <input [(ngModel)]="inventory.inventoryMangedBy" class="form-control" name="nurseId" type="text"/>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Record</label>
                <div class="col-sm-9">
                  <label>
                    <input [(ngModel)]="inventory.inventoryRecord" class="form-control" name="inventoryRecord"
                           type="text"/>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Record Type</label>
                <div class="col-sm-9">
                  <label>
                    <input [(ngModel)]="inventory.inventoryRecordType" class="form-control" name="inventoryRecordType"
                           type="text"/>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{inventory.inventoryAmount}}</span>
              </div>
              <input (focus)="clearAmount()" [(ngModel)]="inventory.inventoryAmount" aria-label="Amount"
                     class="form-control" name="inventoryAmount" type="text">
            </div>
          </div>
        </div>
        <button class="btn btn-outline-success btn-icon-text" type="submit">
          <i class="mdi mdi-file-check btn-icon-prepend"></i>
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
